p{
    color: rgb(69, 69, 69);
    font-family:monospace
}
h3{
    color: rgb(69, 69, 69);
    font-family:monospace 
}
h2{
    color: rgb(69, 69, 69);
    font-family:monospace 
}
h1{
    color: rgb(69, 69, 69);
    font-family:monospace 
}