p{
    color: rgb(69, 69, 69);
    font-family:monospace;
}
h3{
    color: rgb(69, 69, 69);
    font-family:monospace;
}
h2{
    color: rgb(69, 69, 69);
    font-family:monospace;
}
h1{
    color: rgb(69, 69, 69);
    font-family:monospace; font-size: xx-large;text-align: center;
}
table{
    border: 3px solid black;
    border-collapse:collapse;
    width:100%;
    font-family: cursive;
}
td{
    border: 3px solid black;
}
tr:nth-child(even)
{
    background-color: crimson;
}
tr:nth-child(odd)
{
    background-color: aquamarine;
}
