.ContainerNavigatie{
    text-align: center;
    width: 100%;
    height: 80px;
    background:rgb(6, 6, 6) ;
    box-shadow: 0 10px 20px rgb(12, 66, 0);
    text-decoration: none;
    font-family: sans-serif;
}
.ContainerNavigatie .Menu{
    display: flex;
    position: relative;
    
}
.ContainerNavigatie .Menu li {
    font-size: 30px;
    flex: 1;
    list-style: none;
    
}
body{
    background-color: black;
}
.ContainerNavigatie .Menu li a{
    text-decoration: none;
    color: chartreuse;
    transition: color 0.3 ease;
}
.ContainerNavigatie .Menu li a:hover{
   background-color: black;
}
.ContainerNavigatie .Menu li:nth-child(2) a{
    color:rgb(23, 116, 2);
}
.ContainerNavigatie .Menu .Line{
    position: absolute;
    height: 5px; 
    width: 33%;
    background:rgb(6, 6, 6);
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
}
.ContainerNavigatie .Menu li:nth-child(1):hover ~ .Line{
    left:0%;
    background: chartreuse ;
}
.ContainerNavigatie .Menu li:nth-child(2):hover ~ .Line{
    left:33%;
    background: chartreuse ;
}
.ContainerNavigatie .Menu li:nth-child(3):hover ~ .Line{
    left:66%;
    background: chartreuse ;
}
.jumbotron{
    height: 700px;
    background:
    linear-gradient(rgb(0, 0, 0, 0.200),
    rgb(128, 255, 0, 0.135)),
    url("https://source.unsplash.com/random/1920×1080/?gpu");
    background-size: cover;
    text-align: center;
}